body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: f0f0f0;
}

#phone_size {
  position: relative;
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */

  border-radius: 40px;

  width: 375px;
  height: 667px;
  background: linear-gradient(135deg, #e5f2ff 20%, #ffe6f2 100%);
}

#basic_square {
  display: flex; /* 내부 콘텐츠 정렬을 위해 Flexbox 사용 */
  flex-direction: column; /* 콘텐츠를 위에서 아래로 배치 */
  align-items: center; /* 세로 중앙 정렬 */

  width: 278px;
  height: 250px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);

  position: absolute;
  top: 50%; /* 부모 요소의 50% 위치 */
  left: 50%; /* 부모 요소의 50% 위치*/
  transform: translate(-50%, -50%); /* 정 중앙으로 이동*/
}

#page1_header {
  position: relative;
  top: 80px;
  width: 100%;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: #555555;

  letter-spacing: 10px;
}

.page1_square_position {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#page1_square_header {
  position: relative;
  top: 34px;
  font-size: 32px;
  text-align: center;
  color: #444444;
  font-weight: 600;
}

#page1_square_mid {
  position: relative;
  top: 70px;

  font-size: 13px;
  font-weight: 100;
  text-align: center;
}

#page1_button {
  position: absolute;

  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);

  width: 117px;
  height: 38px;
  background-color: #bba4f8;

  font-size: 16px;

  color: white;
  border-radius: 30px;

  display: flex; /* flex활성화 */
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */

  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}

#page1_bottom_text {
  position: absolute;
  bottom: 50px;

  color: black;
  font-size: 15px;
  font-weight: 200;
}

/* 두 번째 페이지 */
.page2_header {
  text-align: center;
  padding: 1px 0 0 0;

  font-size: 16px;
  color: #555555;
  font-weight: 600;
}

.loading-box:after,
.loading-box:before {
  content: '';
}
.loading-box,
.loading-box:after,
.loading-box:before {
  width: 50px;
  position: absolute;
  left: 0;
}
.loading-box {
  height: 50px;
  width: 50px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -150%);
  z-index: 10000;
}
.loading-box:before {
  height: 5px;
  background: #000;
  opacity: 0.1;
  top: 59px;
  border-radius: 50%;
  animation: shadow 0.5s linear infinite;
}
.loading-box:after {
  height: 50px;
  background: #b39ddb;
  animation: animate 0.8s linear infinite;
  top: 0;
  border-radius: 3px;
}
@keyframes animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}
@keyframes shadow {
  0%,
  100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}

div.blinkCursor {
  display: table;
  margin: auto;
  right: 0;
  top: 42px;
  bottom: 0;
  position: relative;
}
span.blinkCursor {
  animation-name: blinkCursor;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-duration: 0.75s;
  display: inline-block;
  width: 4px;
  height: 18px;
  margin-left: 7px;
  box-shadow: 0 0 10px rgba(255, 99, 71, 0.5);
  background: rgba(0, 0, 0, 1);
}
@keyframes blinkCursor {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* 세 번째 페이지 */
#page3_header {
  font-size: 23px;
  font-weight: 500;

  margin: 300px 0 0 0;
  text-align: center;

  color: #444444;
}

.fade-in {
  font-size: medium;
  position: relative;
  overflow: hidden;
  animation: fade-in 1.5s ease-in-out;
}

@keyframes fade-in{
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}